p{
    font-size: 15px;
    color: #5b5959;
}
.color-Nav.navbar.navbar-expand-lg.navbar-light{
    height: auto;
    padding: 1px;
}

.color-Nav{
    background-color: rgba(253, 231, 223, 0.56);
}

.nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}


.search-bar {
    width: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 10px;
}
#basic-nav-dropdown{
    padding-left: 5px;
}
.form-control {
    width: 100px;
    height: 30px;
}

.main-bar {
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: center;
}

.main-bar-button:hover {
    color: #313030;
}

.main-bar-button {
    text-decoration: none;
    color: #5b5959;
}

#basic-nav-dropdown {
    text-decoration: none;
    color: #5b5959;
    font-size: 20px;
}

.main-bar-button.nav-link {
    color: #5b5959;
}

.main-bar-button.nav-link:hover {
    color: #313030;
}

#basic-nav-dropdown:hover {
    color: #313030;
}

.personal-bar {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 5px;
}

.profile-icon {
    width: 20px;
    height: 20px;
    margin-top: 20px;
    margin-bottom: 1px;
}

.search-bar {

}

.cart-icon {
    width: 20px;
    height: 20px;
    margin-top: 20px;
    margin-bottom: 1px;
}

.heart-icon {
    width: 25px;
    height: 25px;
}

.magnifier-icon {
    width: 25px;
    height: 25px;
}

.btn.btn-secondary {
    width: 20px;
    height: 10px;
}

.btn.btn-secondary.data-mdb-content {
    width: 20px;
    height: 10px;
}

/*.personal-bar p {*/
/*    color: #5b5959;*/
/*    font-size: 10px;*/
/*    margin-top: 5px;*/
/*}*/

/*#basic-navbar-nav{}*/

@media screen and (max-width: 1000px) {
    .navbar-collapse.collapse.show p{
        font-size: 15px;
    }
    .main-bar-button.nav-link{
        height: 50px;
        border-bottom-style: solid;
    }
    .cart-icon{
        display: none;
    }
    .profile-icon{
        display: none;
    }

    .personal-bar {
        visibility: hidden;
    }
    .search-bar {
        visibility: hidden;
    }
}

.btn{
    color: #d5b2b2;
}

.basic-navbar-nav{
    margin-right: 50px;
}
